<div class="main">
	<div class="row-fluid">
		<div class="span9">
			<h2>Energy Efficiency. Made Easy.</h2>
			<h4>Let us help you finance your energy efficiency project.</h4>
		</div>
		<div class="span3">
		  	<%= link_to "GET STARTED NOW", new_user_registration_path, class: "btn btn-primary btn-large", style: "float: right;" %>
		</div>
	</div>
</div>	

<div class="row">
	<hr class="featurette-divider">
	<div class="featurette">
		<h2 class="featurette-heading">Turn your energy use into an asset</h2>
		<h2 class="featurette-details">Energy efficiency matters to the bottom line. By realizing efficiency savings at your home or business, you can earn returns that equal, and in many cases surpass, comparable investments elsewhere. Low risk, high return.</h2></br>
		<img src="../home/bulb.png" class="featurette-image">
	</div>
	<hr class="featurette-divider">
	<div class="featurette">
		<h2 class="featurette-heading">Let us worry about the financing</h2>
		<h2 class="featurette-details">Efficiency projects can have significant upfront costs. By engaging with our preferred lenders, you can earn returns without having to allocate your own capital. We have relationships with industry leading lenders, so you can be assured you'll get the best rates possible.</h2></br>
		<img src="../home/money.png" class="featurette-image">
	</div>
	<hr class="featurette-divider">
	<div class="featurette">
		<h2 class="featurette-heading">Submit, track and save, all online</h2>
		<h2 class="featurette-details">Using our platform, you'll be able to submit, track and close your efficiency financing via the web. Our platform will target the lender that is right for your project based on the information you provide. All you do is log into your account and track the status of your projects. It's easy and convenient.</h2></br>
		<img src="../home/submit.png" class="featurette-image">
	</div>

  	<%= link_to "GET STARTED NOW", new_user_registration_path, class: "btn btn-primary btn-large", style: "margin-left: 450px; margin-top: 150px;" %>
</div>
