<div class="main">
	<div class="row-fluid">
		<div class="span9">
			<h2>Energy Efficiency. Made Easy.</h2>
			<h4>Let us help you finance your energy efficiency project.</h4>
		</div>
		<div class="span3">
		  	<%= link_to "GET STARTED NOW", new_user_registration_path, class: "btn btn-primary btn-large", style: "float: right;" %>
		</div>
	</div>
</div>	

<div class="row">
	<hr class="featurette-divider">
	<div class="featurette">
		<h2 class="featurette-heading">Find financing for your efficiency project</h2>
		<h2 class="featurette-details">We can help you make your efficiency project easy and affordable. Using our platform, we compile information about your project and connect you with lenders eager to help you finance the upfront costs.</h2></br>
		<img src="../home/bulb.png" class="featurette-image">
	</div>
	<hr class="featurette-divider">
	<div class="featurette">
		<h2 class="featurette-heading">We make it easy, convenient and affordable</h2>
		<h2 class="featurette-details">Connecting with a lender is as easy as uploading some basic information about your proposed efficiency project. We do the rest. We work with only the most recognized financial institutions, so you can be assured your financing partnership is strong.</h2></br>
		<img src="../home/submit.png" class="featurette-image">
	</div>
	<hr class="featurette-divider">
	<div class="featurette">
		<h2 class="featurette-heading">Get started today</h2>
		<h2 class="featurette-details">It only takes a couple of minutes to sign up for an account, and upload a project for financing. </h2></br>
		<img src="../home/track.png" class="featurette-image">
	</div>

  	<%= link_to "GET STARTED NOW", new_user_registration_path, class: "btn btn-primary btn-large", style: "margin-left: 450px; margin-top: 150px;" %>
</div>
