<div class="container-narrow">
	<div class="main">
		<div class="row-fluid">
			<div class="span9">
				<h2>Energy Efficiency. Made Easy.</h2>
				<h4>Let Coefficient help you finance your efficiency project.</h4>
			</div>
			<div class="span3">
			  	<%= link_to "GET STARTED", new_user_registration_path, class: "btn btn-primary btn-large", style: "float: right;" %>
			</div>
		</div>
	</div>	
<hr>
	<div class="row-fluid">
			<div class="span4">
					<img src="../home/monitor.jpg" class="img-rounded">

					<h2>Convenient</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean condimentum turpis nisl, quis rutrum metus hendrerit quis. Morbi sit amet varius tellus. Suspendisse nec sem vitae turpis dignissim mollis a at tellus. Fusce sed mollis ligula. Cras sed aliquet sem. Etiam consequat ipsum lectus, et fringilla urna porta tempor. Quisque tellus eros, tempus eget porta ac, porta et tortor.
					</p>
			</div>
			<div class="span4">
					<img src="../home/coins.jpg" class="img-rounded">

					<h2>Affordable</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean condimentum turpis nisl, quis rutrum metus hendrerit quis. Morbi sit amet varius tellus. Suspendisse nec sem vitae turpis dignissim mollis a at tellus. Fusce sed mollis ligula. Cras sed aliquet sem. Etiam consequat ipsum lectus, et fringilla urna porta tempor. Quisque tellus eros, tempus eget porta ac, porta et tortor.
					</p>
			</div>
			<div class="span4">
					<img src="../home/focus.jpg" class="img-rounded">

					<h2>Focused</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean condimentum turpis nisl, quis rutrum metus hendrerit quis. Morbi sit amet varius tellus. Suspendisse nec sem vitae turpis dignissim mollis a at tellus. Fusce sed mollis ligula. Cras sed aliquet sem. Etiam consequat ipsum lectus, et fringilla urna porta tempor. Quisque tellus eros, tempus eget porta ac, porta et tortor.
					</p>
			</div>
	</div>
</div>
