<div class="page-header">
	<h2>How It Works</h2>
</div>

<div class="row">
	<div class="span10 offset1">
		<div class="tabbable tabs-left">
		  <ul class="nav nav-tabs">
		    <li class="active">
		    	<a href="#A" data-toggle="tab">
		    		1. Registration
		    	</a>
		    </li>
		    <li>
		    	<a href="#B" data-toggle="tab">
		    		2. Project Submission
		    	</a>
		    </li>
		     <li>
		    	<a href="#C" data-toggle="tab">
		    		3. Preliminary Evaluation
		    	</a>
		    </li>
		     <li>
		    	<a href="#D" data-toggle="tab">
		    		4. Final Assessment, Financing
		    	</a>
		    </li>
		  </ul>
			  <div class="tab-content">
			  	<div class="tab-pane active" id="A">
                  <h3>1. Registration</h3>
                  <p>				
                  	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean condimentum turpis nisl, quis rutrum metus hendrerit quis. Morbi sit amet varius tellus. Suspendisse nec sem vitae turpis dignissim mollis a at tellus. Fusce sed mollis ligula. Cras sed aliquet sem. Etiam consequat ipsum lectus, et fringilla urna porta tempor. Quisque tellus eros, tempus eget porta ac, porta et tortor.
                  </p>
                  <h4>What we do with your information?</h4>
                  <p>
                  		Integer mattis ligula non massa dapibus, ac rhoncus elit vulputate. Maecenas rutrum, nunc sit amet sodales laoreet, arcu quam congue tortor, ornare porttitor sem ligula vitae magna. Aliquam risus arcu, auctor a blandit vitae, viverra nec eros. Aliquam erat volutpat.
					</p>
					<h4>How to access your account?</h4>
					<p>
                  		Integer mattis ligula non massa dapibus, ac rhoncus elit vulputate. Maecenas rutrum, nunc sit amet sodales laoreet, arcu quam congue tortor, ornare porttitor sem ligula vitae magna. Aliquam risus arcu, auctor a blandit vitae, viverra nec eros. Aliquam erat volutpat.
					</p>
					<p>
                  	<%= link_to "Begin your registration here", new_user_registration_path %>
              		</p>
	            </div>
				<div class="tab-pane" id="B">
	                  <h3>2. Project Submission</h3>
	                  <p>				
	                  	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean condimentum turpis nisl, quis rutrum metus hendrerit quis. Morbi sit amet varius tellus. Suspendisse nec sem vitae turpis dignissim mollis a at tellus. Fusce sed mollis ligula. Cras sed aliquet sem. Etiam consequat ipsum lectus, et fringilla urna porta tempor. 
	                  </p>
	                  <h4>What kind of information?</h4>
	                  <p>
	                  	Quisque tellus eros, tempus eget porta ac, porta et tortor. Integer mattis ligula non massa dapibus, ac rhoncus elit vulputate. Maecenas rutrum, nunc sit amet sodales laoreet, arcu quam congue tortor, ornare porttitor sem ligula vitae magna. Aliquam risus arcu, auctor a blandit vitae, viverra nec eros. Aliquam erat volutpat.
										</p>
										 <h4>Where do you find it?</h4>
	                  <p>
	                  	Quisque tellus eros, tempus eget porta ac, porta et tortor. Integer mattis ligula non massa dapibus, ac rhoncus elit vulputate. Maecenas rutrum, nunc sit amet sodales laoreet, arcu quam congue tortor, ornare porttitor sem ligula vitae magna. Aliquam risus arcu, auctor a blandit vitae, viverra nec eros. Aliquam erat volutpat.
										</p>
										 <h4>Do I need an energy assessment?</h4>
	                  <p>
	                  	Quisque tellus eros, tempus eget porta ac, porta et tortor. Integer mattis ligula non massa dapibus, ac rhoncus elit vulputate. Maecenas rutrum, nunc sit amet sodales laoreet, arcu quam congue tortor, ornare porttitor sem ligula vitae magna. Aliquam risus arcu, auctor a blandit vitae, viverra nec eros. Aliquam erat volutpat.
										</p>
	            </div>
	            <div class="tab-pane" id="C">
	                  <h3>3. Preliminary Evaluation</h3>
	                  <p>				
	                  	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean condimentum turpis nisl, quis rutrum metus hendrerit quis. Morbi sit amet varius tellus. Suspendisse nec sem vitae turpis dignissim mollis a at tellus. Fusce sed mollis ligula. Cras sed aliquet sem. Etiam consequat ipsum lectus, et fringilla urna porta tempor. 
	                  </p>
	                  <h4>What do we assess?</h4>
	                  <p>
	                  	Quisque tellus eros, tempus eget porta ac, porta et tortor. Integer mattis ligula non massa dapibus, ac rhoncus elit vulputate. Maecenas rutrum, nunc sit amet sodales laoreet, arcu quam congue tortor, ornare porttitor sem ligula vitae magna. Aliquam risus arcu, auctor a blandit vitae, viverra nec eros. Aliquam erat volutpat.
										</p>
										 <h4>Who sees the project?</h4>
	                  <p>
	                  	Quisque tellus eros, tempus eget porta ac, porta et tortor. Integer mattis ligula non massa dapibus, ac rhoncus elit vulputate. Maecenas rutrum, nunc sit amet sodales laoreet, arcu quam congue tortor, ornare porttitor sem ligula vitae magna. Aliquam risus arcu, auctor a blandit vitae, viverra nec eros. Aliquam erat volutpat.
										</p>
										 <h4>How is the project evaluated?</h4>
	                  <p>
	                  	Quisque tellus eros, tempus eget porta ac, porta et tortor. Integer mattis ligula non massa dapibus, ac rhoncus elit vulputate. Maecenas rutrum, nunc sit amet sodales laoreet, arcu quam congue tortor, ornare porttitor sem ligula vitae magna. Aliquam risus arcu, auctor a blandit vitae, viverra nec eros. Aliquam erat volutpat.
										</p>
	            </div>
	            <div class="tab-pane" id="D">
	                  <h3>4. Final Assessment, Financing</h3>
	                  <p>				
	                  	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean condimentum turpis nisl, quis rutrum metus hendrerit quis. Morbi sit amet varius tellus. Suspendisse nec sem vitae turpis dignissim mollis a at tellus. Fusce sed mollis ligula. Cras sed aliquet sem. Etiam consequat ipsum lectus, et fringilla urna porta tempor. 
	                  </p>
	                  <h4>How do engage with the lender?</h4>
	                  <p>
	                  	Quisque tellus eros, tempus eget porta ac, porta et tortor. Integer mattis ligula non massa dapibus, ac rhoncus elit vulputate. Maecenas rutrum, nunc sit amet sodales laoreet, arcu quam congue tortor, ornare porttitor sem ligula vitae magna. Aliquam risus arcu, auctor a blandit vitae, viverra nec eros. Aliquam erat volutpat.
										</p>
										 <h4>How is the contract formulated?</h4>
	                  <p>
	                  	Quisque tellus eros, tempus eget porta ac, porta et tortor. Integer mattis ligula non massa dapibus, ac rhoncus elit vulputate. Maecenas rutrum, nunc sit amet sodales laoreet, arcu quam congue tortor, ornare porttitor sem ligula vitae magna. Aliquam risus arcu, auctor a blandit vitae, viverra nec eros. Aliquam erat volutpat.
										</p>
										 <h4>Do we deal with the lender directly?</h4>
	                  <p>
	                  	Quisque tellus eros, tempus eget porta ac, porta et tortor. Integer mattis ligula non massa dapibus, ac rhoncus elit vulputate. Maecenas rutrum, nunc sit amet sodales laoreet, arcu quam congue tortor, ornare porttitor sem ligula vitae magna. Aliquam risus arcu, auctor a blandit vitae, viverra nec eros. Aliquam erat volutpat.
										</p>
	            </div>
			  
			 </div>
		</div>
	</div>
</div>