<div class="page-header">
	<h2>How It Works</h2>
</div>

<div class="row">
		<div class="tabbable tabs-left">
		  <ul class="nav nav-tabs">
		    <li class="active">
		    	<a href="#A" data-toggle="tab">
		    		Project Introduction
		    	</a>
		    </li>
		    <li>
		    	<a href="#B" data-toggle="tab">
		    		Project Profile Assessment
		    	</a>
		    </li>
		     <li>
		    	<a href="#C" data-toggle="tab">
		    		Preliminary Financing Structure
		    	</a>
		    </li>
		  </ul>
			  <div class="tab-content">
			  	<div class="tab-pane active" id="A">
	                  <p>				
	                  	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean condimentum turpis nisl, quis rutrum metus hendrerit quis. Morbi sit amet varius tellus. Suspendisse nec sem vitae turpis dignissim mollis a at tellus. Fusce sed mollis ligula. Cras sed aliquet sem. Etiam consequat ipsum lectus, et fringilla urna porta tempor. Quisque tellus eros, tempus eget porta ac, porta et tortor. Integer mattis ligula non massa dapibus, ac rhoncus elit vulputate. Maecenas rutrum, nunc sit amet sodales laoreet, arcu quam congue tortor, ornare porttitor sem ligula vitae magna. Aliquam risus arcu, auctor a blandit vitae, viverra nec eros. Aliquam erat volutpat.
						</p>
	            </div>
				<div class="tab-pane" id="B">
	                  <p>				
	                  	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean condimentum turpis nisl, quis rutrum metus hendrerit quis. Morbi sit amet varius tellus. Suspendisse nec sem vitae turpis dignissim mollis a at tellus. Fusce sed mollis ligula. Cras sed aliquet sem. Etiam consequat ipsum lectus, et fringilla urna porta tempor. Quisque tellus eros, tempus eget porta ac, porta et tortor. Integer mattis ligula non massa dapibus, ac rhoncus elit vulputate. Maecenas rutrum, nunc sit amet sodales laoreet, arcu quam congue tortor, ornare porttitor sem ligula vitae magna. Aliquam risus arcu, auctor a blandit vitae, viverra nec eros. Aliquam erat volutpat.
						</p>
	            </div>
	            <div class="tab-pane" id="C">
	                  <p>				
	                  	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean condimentum turpis nisl, quis rutrum metus hendrerit quis. Morbi sit amet varius tellus. Suspendisse nec sem vitae turpis dignissim mollis a at tellus. Fusce sed mollis ligula. Cras sed aliquet sem. Etiam consequat ipsum lectus, et fringilla urna porta tempor. Quisque tellus eros, tempus eget porta ac, porta et tortor. Integer mattis ligula non massa dapibus, ac rhoncus elit vulputate. Maecenas rutrum, nunc sit amet sodales laoreet, arcu quam congue tortor, ornare porttitor sem ligula vitae magna. Aliquam risus arcu, auctor a blandit vitae, viverra nec eros. Aliquam erat volutpat.
						</p>
	            </div>
			  
			 </div>
		</div>
</div>