<div class="row">
	<hr class="featurette-divider">
	<div class="featurette">
		<img src="../home/register.png" class="featurette-image pull-right">
		<h1 class="featurette-heading">Register.
		<span class="muted">Tell us who you are.</span>
	</h1>
		<p class="lead">By registering an account with us, you will be able to submit efficiency projects for financing. As a registered member, you will be able to submit multiple projects under one account, especially convenient for facility managers and owners who may have multiple efficiency projects. </p>
		<p class="lead">Also, you will then be able to track all your project online via our platform. Just log into your account, go to Track Your Projects, and you will be able to see the financing status of all your submitted projects.</p>
	</div>
	<hr class="featurette-divider">
	<div class="featurette">
		<img src="../home/submit.png" class="featurette-image pull-left">
		<h1 class="featurette-heading">Submit a project.
		<span class="muted">We want to know about your efficiency plans.</span>
	</h1>
		<p class="lead">You provide us with basic project information so we can assess your efficiency project from an investment perspective. We ask for information such as facility type, energy use and for a copy of your energy audit.</p>
		<p class="lead">If you have not completed an energy audit, we have preferred engineering partners who would be happy to help you with that. You can find this information on our site.</p>
	</div>
	<hr class="featurette-divider">
	<div class="featurette">
		<img src="../home/track.png" class="featurette-image pull-right">
		<h1 class="featurette-heading">Track your project.
		<span class="muted">We keep you updated on the financing process.</span>
	</h1>
		<p class="lead">You provide us with basic project information so we can assess your efficiency project from an investment perspective. We ask for information such as facility type, energy use and for a copy of your energy audit.</p>
		<p class="lead">If you have not completed an energy audit, we have preferred engineering partners who would be happy to help you with that. You can find this information on our site.</p>
	</div>
	<hr class="featurette-divider">
	<div class="featurette">
		<img src="../home/money.png" class="featurette-image pull-left">
		<h1 class="featurette-heading">Get financing.
		<span class="muted">We find the right lender for your project.</span>
	</h1>
		<p class="lead">You provide us with basic project information so we can assess your efficiency project from an investment perspective. We ask for information such as facility type, energy use and for a copy of your energy audit.</p>
		<p class="lead">If you have not completed an energy audit, we have preferred engineering partners who would be happy to help you with that. You can find this information on our site.</p>
	</div>
</div>
