<div class="page-header">
  <h2>Welcome, <%= current_user.user_firstname %></h2>
</div>

<% if current_user.user_lender? %>
  <%= render 'projects/lendertable' %>
<% else %>
  <%= render 'projects/usertable' %>
<% end %>
