<div class="page-header">
	<h2><%= @project.facilityname %></h2>
</div>

<div class="row">
	<div class="span6 offset3">
		<div class="well">
			<h4>Status update for <%= @project.facilityname %></h4>
			<p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
		</div>
	</div>
</div>

