$baseFontFamily: Oxygen;
@import url(http://fonts.googleapis.com/css?family=Oxygen:300);

$navbarBackgroundHighlight: white;
$navbarBackground: white;
$navbarHeight: 60px;

@import 'bootstrap';

@import 'bootstrap-responsive';

html, body{
    height: 100%;
}

#wrap {
    min-height: 100%;
}

 #main {
    overflow: auto;
    padding-bottom: 150px; 
 }

.navbar-inner{
    @include box-shadow(none !important);
    border: 0;
}

.navbar .brand {
	padding-top: 10px;
}

.container {
    max-width: 1080px;
}

.featurette {
    margin-left: 30px;
}

.pull-right {
    margin-left: 30px;
}

.pull-left {
    margin-right: 30px;
}

.featurette-divider {
    margin: 80px 0;
}

.main {
    padding: 150px 0;
    display: block;

}

.main h4 {
    color: #999999;
    margin-top: -5px;
}

.span4 p {
    line-height: 200%;
    color: #999999;
}

.container .span4 {
    text-align: center;
}

.audit-upload {
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 200px;
}

.btn-primary {
    background: #99F600;
    color: #fff;
    margin-top: 15px;
    font-weight: bold;
    text-shadow: 0;
    border-color: 0;
}

.btn:hover {
    background: #7BC600;
}


.thumbnails p{
	color: #777;
}

.footer{
    position: relative;
    margin-top: -150px;
    height: 130px;
    clear: both;
    background: $gray;
    color: $grayLight;
    a{
        color: #99F600;
    }
    padding-top: 20px;
    margin-top: 5px;
}