$baseFontFamily: Oxygen;
@import url(http://fonts.googleapis.com/css?family=Oxygen:300);

$navbarBackgroundHighlight: white;
$navbarBackground: white;
$navbarHeight: 60px;

@import 'bootstrap';

@import 'bootstrap-responsive';

body{
    padding-top: 61px;
}


.navbar-inner{
    @include box-shadow(none !important);
    border: 1px solid #99F600;
}

.navbar .brand {
	padding-top: 10px;
}

.container-narrow {
    max-width: 1170px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.main {
    padding: 150px 0;
    display: block;

}

.main h4 {
    color: #666666;
    margin-top: -10px;
}

.span4 p {
    line-height: 200%;
}

.container-narrow .span4 {
    text-align: center;
}


.btn-primary {
    background: #99F600;
    color: #555555;
    margin-top: 15px;
}


.thumbnails p{
	color: #777;
}


.footer{
    margin-top: 50px;
    color: $grayLight;
    a{
        color: $gray;
    }
    border-top: 1px solid #99F600;
    padding: 30px 0;
}