<div class="footer">
  <div class="row">
	  <div class="span4">
		  <small>
		    Copyright Coefficient Capital, All Rights Reserved</br>
		    Coefficient Capital</br>
		    1127 15th St</br>
		    Santa Monica, CA 90403
		  </small>
	  </div>
	  <div class="span4">
		  <small>
		    Alejandro Santander, from The Noun Project</br>
		    Justin Alexander, from The Noun Project</br>
		    Alejandro Santander, from The Noun Project</br>
		  </small>
	  </div>
	</div>
</div>