<div class="footer">
  <div class="row">
	  <div class="span3">
		  <small>
		    Copyright Coefficient Capital, All Rights Reserved</br>
		    Coefficient Capital</br>
		    1127 15th St</br>
		    Santa Monica, CA 90403
		  </small>
	  </div>
	</div>
</div>